@font-face {
  font-family: 'DinPro bold';
  src: url("../assets/fonts/Dinpro-bold.otf");
}

@font-face {
  font-family: 'DinPro regular';
  src: url("../assets/fonts/Dinpro-regular.otf");
}

@font-face {
  font-family: 'Gilroy ultralight';
  src: url("../assets/fonts/Gilroy-ultralight.ttf");
}

@font-face {
  font-family: 'Gilroy extrabold';
  src: url("../assets/fonts/Gilroy-extrabold.ttf")
}

@font-face {
  font-family: 'Gilroy light';
  src: url("../assets/fonts/Gilroy-light.ttf");
}

@font-face {
  font-family: 'Gilroy regular';
  src: url("../assets/fonts/Gilroy-regular.ttf");
}

@font-face {
  font-family: 'Circe regular';
  src: url("../assets/fonts/Circe-regular.ttf");
}
